<footer>
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-4 col-sm-12 text-left">
        <h3>About {{ site.title }}</h3>
        <div class="footer-about">
          "A recipe book is one that you use daily and what we in our family call 'a living book' — a book that you use all the time,
          not just read once and discard on the shelf. Recipes are by nature derivative and meant to be shared - that is
          how they improve, are changed, how new ideas are formed. ”
        </div>
      </div>
      <!-- Author -->
      <div class="col-md-4 col-sm-12 text-left">
        <h3>Quick Links</h3>
        <ul class="text-left">
          <li><a href="/">Slime Recipies</a></li>
          <li><a href="/submit-recipe/">Submit a Recipies</a></li>
          <li><a href="/about/">About {{ site.title }}</a></li>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <h3>Follow {{ site.title }}</h3>
        <div class="social-media-icons col-xs-12">
            <ul class="list-inline col-xs-12">
              <a href="#"><i class="fa fa-instagram-square fa-3x"></i></a>
              <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
              <a href="#"><i class="fa fa-pinterest-square fa-3x"></i></a>
              <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a>
              <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
              <a href="#"><i class="fa fa-github-square fa-3x"></i></a>               
            </ul>
          </div>
      </div>
    </div>
  </div>
</footer>