<!DOCTYPE html>
<html lang="en">

<!-- Header
  ================== -->
{% include header.html %}

<body>

  <!-- Splash Screen
  ================== -->
  {% include splash.html %}

  <!-- Recipes Items
  ================== -->
  <section id="items">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Our Most Popular Recipes</h2>
        </div>
      </div>
      <div class="row">

        {% for recipe in site.recipe %}
        <!-- Start recipe item -->

        <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
          <div class="recipe-item text-center">
            <a href="{{ recipe.url }}">
              <img src="http://via.placeholder.com/640x378" alt="{{ recipe.image }}" class="rounded" />
            </a>
            <br />
            <h3 class="recipe-title">{{ recipe.title }}</h3>

            <ul class="list-unstyled fa-ul mb-3 text-center">
              <li>
                <span class="fa-li">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </span> {{ recipe.time }}
                </a>
              </li>
            </ul>

            <a href="{{ recipe.url }}">
              <button class="btn btn-default">View Recipe</button>
            </a>
          </div>
        </div>
        <!-- End recipe item -->
        {% endfor %}

      </div>
    </div>
  </section>

  <!-- Website Footer
  =================== -->
  {% include footer.html %}

  <!-- JavaScript files
  ===================== -->
  {% include javascript-footer.html %}
</body>

</html>