<!DOCTYPE html>
<html lang="en">

<!-- Header
  ================== -->
{% include header.html %}

<body>

  <!-- Recipe Schema
  ================== -->
  {% include recipe-schema.html %}

  <!-- Splash Screen
  ================== -->
  {% include splash.html %}

  <!-- Recipe Section
  =================== -->
  <section id="recipe">
    <div class="container">
      <div class="row">

        <!-- Title -->
        <div class="col-12">

          <!-- Breadcrumbs
          ================== -->

          {% include breadcrumb.html %}

          <h2>How to make {{ page.title }}</h2>
          <p>Want to learn how to make {{ page.title }}? We put together our favorite recipe, it takes about {{ page.time }}, makes enough slime for {{ page.servings }} and only needs {{  page.ingredients.size }} ingredients!</p>
        </div>
      </div>
      <div class="row vertical-align">
        <div class="col-12">
          <!-- Picture -->
          <div class="col-md-8 pull-left wow swing">
            <img src="/images/bbq-pork-ribs.jpg" alt="bbq-pork-ribs" class="recipe-picture" />
          </div>
          <!-- Info -->
          <div class="col-md-4 pull-right wow lightSpeedIn">
            <div class="recipe-info">
              <h3>Cooking Info</h3>
              <!-- Time -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="col-6">Time</div>
                <div class="col-4">{{ page.time }}</div>
              </div>
              <!-- Difficulty -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
                <div class="col-6">Difficulty</div>
                <div class="col-4">
                  {% if page.difficulty == 1 %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                  {% elsif page.difficulty == 2 %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  {% elsif page.difficulty == 3 %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  {% elsif page.difficulty == 4 %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  {% elsif page.difficulty == 5 %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  {% endif %}
                </div>
              </div>
              <!-- Serves -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="col-6">Servings</div>
                <div class="col-4">{{ page.servings }}</div>
              </div>
              <h3>Materials</h3>
              {% for r in page.materials %}
              <div class="row">
                  <div class="col-2 text-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="col-2">{{ r.quantity}}</div>
                  <div class="col-8">{{ r.item }}</div>
                </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- Ingredients -->
      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-ingredients">
            <h3>Ingredients</h3>
            <dl class="ingredients-list">
              {% for r in page.ingredients %}
              <dt>{{ r.quantity }}</dt>
              <dd>{{ r.ingredient }}
              </dd>
              {% endfor %}
            </dl>
          </div>
        </div>
      </div>
      <!-- Directions -->
      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-directions">
            <h3>Directions</h3>
            <ol>
              {% for r in page.directions %}
              <li>{{ r.step }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
      <!-- 
      {% include /recipe-comment/comments.html %}
           
            {% include /recipe-comment/comment.html %} -->

      <!-- Back to recipes -->
      <div class="row wow rollIn">
        <div class="col-12 text-center">
          <a href="index.html">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Go to back to Slime recipes.
          </a>
        </div>
        <div class="col-12 text-center">
        {% include share-buttons.html %}
      </div>
      </div>
    </div>
  </section>

  <!-- Website Footer
  =================== -->
  {% include footer.html %}

  <!-- JavaScript files
  ===================== -->
  {% include javascript-footer.html %}
</body>

</html>