<!DOCTYPE html>
<html lang="en">

  <!-- Header
  ================== -->
  {% include header.html %}

<body>

  <!-- Splash Screen
  ================== -->
  {% include splash.html %}

  <!-- Body
  ================== -->
  <section id="items">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Send us your Recipe</h2>
          <form>

          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Website Footer
  =================== -->
  {% include footer.html %}

  <!-- JavaScript files
  ===================== -->
  {% include javascript-footer.html %}
</body>

</html>
